body {
    background-color: rgb(239,240,227);
    font-family: 'Belleza', sans-serif;
    font-size: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    max-width: 60%;
    padding-bottom: 0.5em;
}

footer {
    text-align: center
}

#sefirot {
    max-width: 100%;
    height: auto;
}